<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <table cellspacing="0" align="center">
        <tr height="10%">
            <td>
                <fieldset>
                    <legend><h2>Login</h2></legend>
                    <form action="../controller/checkLogin.php" method="post">
                        <b>UserName:</b>
                        <input type="text" name="username"><br>
                        <b>Password :</b>
                        <input type="password" name="password">
                        <br><hr>
                        <input type="submit" value="Login">
                        <a href="../view/signup.html">Signup</a>
                </form>
                </fieldset>
            </td>
            <td>
            </td>   
    </table> 
</body>
</html>

