<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile</title>
</head>
<body>
    <fieldset>
        <legend>PROFILE</legend>
        <table  width="100%">
            <tr>
                <td width="30%">
                    Name: Bob <br><hr>
                    Email: bob@aiub.edu <br><hr>
                    Gender: Male <br><hr>
                    Date of Birth: 19/09/1998
                </td>
                <td>
                    <img src="../asset/profile.png" alt="" width="100"><br>
                    <a href="../view/profilepicture.php">Change</a>
                </td>
            </tr>
        </table>
        <hr>
        <a href="../view/profileedit.php">Edit Profile</a>
        
    </fieldset>
    
</body>
</html>